<% layout("/layouts/boilerplate")%>
<body>
    <h5 class="mb-4 d-flex justify-content-center">Edit the listing</h5>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <form method="post" action="/listings/<%=listing._id%>?_method=put" novalidate class="needs-validation" enctype="multipart/form-data">
                    <input type="hidden" name="_method" value="PUT">

                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" value="<%=listing.title%>" class="form-control" name="listing[title]" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a valid title</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control" required><%=listing.description %></textarea>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter description</div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="price" class="form-label">Price</label>
                            <input type="text" value="<%=listing.price%>" class="form-control" name="listing[price]" required>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please enter price</div>
                        </div>

                        <div class="col-md-8 mb-3">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" value="<%=listing.country%>" class="form-control" name="listing[country]" required>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please enter country name</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" value="<%=listing.location%>" class="form-control" name="listing[location]" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter location</div>
                    </div>
                    <div class="mb-3">
                        Original Image
                        <img src="<%=listing.image.url%>">
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image</label>
                        <input class="form-control" type="file" value="<%=listing.image%>" name="listing[image]" required>
                       
                    </div>

                    <div class="text-center mb-5">
                        <button class="btn btn-primary edit-btn" type="submit">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
